<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RANDOM CAT GENERATOR</title>
</head>
<body bgcolor="{{param[4]}}">
<div align="center">
    <br>
    <br>
    <br>
    <img src="https://i.imgur.com/5jWhlZi.png">
    <h1>YOUR SPIRIT CAT IS</h1>
    <h2>{{param[0]}}</h2>
    <h3>~INFO~</h3>
    <ul>
        <li><b>Temperament:</b> {{param[2]}}</li>
        <li><b>Description:</b> {{param[3]}}</li>
    </ul>
    <img src="{{param[1]}}" height=auto width="800">
</div>
</body>
</html>